@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body {
    color: white;
    height: 100vh;
}

header,
main,
footer,
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
}

.wrapper {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}

.content {
    flex: 1 1 auto;
}

.start {
    font-size: 40px;
    color: #52b3ac;
    font-weight: 700;
    outline: none;
    border: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    width: 300px;
    top: 100px;
    background-color: rgb(210, 211, 210);
    transition: all 0.1s ease-in-out 0s;
}

.start:active {
    transform: scale(0.8);
}

.header {
    background-color: #52b3ac;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.personal-cab {
    max-width: 100%;
    display: flex;
    padding: 20px 0;
}

.logo {
    animation: logo 3s linear infinite;
}

@keyframes logo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.logo img {
    height: 100px;
    width: 100px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: end;
}

.menu__items {
    display: flex;
    align-items: center;
}

.menu__item {
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 100%;
}

.menu__item:hover {
    transform: scale(1.2);
}

.menu__item:active {
    transform: scale(1.1);
}

.menu__item img {
    height: 30px;
    width: 30px;
    margin-left: 30px;
    transition: all 0.3s ease-in-out 0s;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 11;
    -webkit-transition: 1s all;
    transition: 1s all;
    opacity: 1;
}

.preloader .loader {
    width: 75px;
    height: 75px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color: #52b3ac;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: 1s spin infinite linear;
    animation: 1s spin infinite linear;
}

.preloader.done {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.main {
    margin-top: 140px;
    height: 100vh;
    width: 100%;
    background-color: #494d56;
    font-family: 'Play';
    font-weight: 400;
}

.form {
    text-align: center;
}

#search {
    height: 40px;
    width: 400px;
    padding: 5px 10px;
    outline: none;
    font-size: 18px;
    font-family: 'Play';
    border-radius: 10px;
    border: none;
    transition: all 0.1s ease-in-out 0s;
}

.inp-anim {
    animation: inp 3s infinite;
}

@keyframes inp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#search:hover,
.start:hover {
    box-shadow: 0 0 10px #52b3ac;
}

.main__title {
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, -15%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-delay: 0.4s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-delay: 0.4s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-delay: 0.4s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
    animation-delay: 0.4s;
}

.name {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

#escape {
    font-size: 30px;
    color: red;
    background: none;
    font-family: 'Play';
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}

#escape:hover {
    box-shadow: 0 0 10px red;
    border-radius: 10px;
}

.FIO {
    font-size: 20px;
}